

.container{
    background-color: #ccc;
    border: 5px solid black;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}
.item{
    height: 200px;
    width: 200px;
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
}